<html>

<head>
    
<title> Wiki </title>
    
    <link rel="stylesheet" href="/style.css">
    
</head>

<body>
    
    <div id="container">
        <div id="header">
            
            <h1> Wiki </h1>
            
        </div>
        <div id="content">
            <div id="nav">
                <ul>
                    <h2> Wiki </h2>
                    
                    <h2> Login </h2>
                
            </div>

            <div id="main">
                
                <h2> Sample erb </h2>
                
                </section>
            </div>
            
            <div id="footer">
            Tony Stark
            </div>
        
        </div>
        
    </div>
        
    
</body>

</html>



